
/.vs/FlappyBirdGame/FileContentIndex
/.vs
/FlappyBirdGame/Debug
FlappyBirdGame/FlappyBirdGame.vcxproj
FlappyBirdGame/FlappyBirdGame.vcxproj.filters
FlappyBirdGame/FlappyBirdGame.vcxproj.user
FlappyBirdGame/x64/Debug/FlappyBirdGame.tlog/FlappyBirdGame.lastbuildstate
*.tlog
*.obj
/SDL2_DEV
/x64
FlappyBirdGame/x64/Debug/vc143.pdb
FlappyBirdGame/x64/Debug/vc143.idb
*.log
*.ilk
*.pdb
/FlappyBirdGame/x64/Debug
FlappyBirdGame.sln
